.smart-main {
  text-align: center;
  padding: 20px;
  color: #d4af37;
  font-family: 'Reem Kufi', sans-serif;
}

.iframe-container {
  margin-top: 20px;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe-container iframe {
  width: 95%;
  height: 100%;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
